<form data-controller="checkboxes">
  <button type="submit">Filter</button>
  <boxes-1>
    <% Task::STATUSES.each do |status| %>
      <% checked = @statuses.include? status %>
      <input name="filter[]" type="checkbox" value="<%= status %>" data-checkboxes-target="checkbox" data-checked="<%= checked %>"/>
      <label for="filter"><%= status %></label>
    <% end %>
  <boxes-1>
</form>
